<body> 
	<!-- header --> 
    <div id="menu"> 
       <div id="menu_list"> 
        <a href="#">Home</a> 
        <img src="splitter.gif" class="splitter" alt="" /> 
        <a href="#">About Us</a> 
        <img src="splitter.gif" class="splitter" alt="" /> 
        <a href="#">Services</a> 
        <img src="splitter.gif" class="splitter" alt="" /> 
        <a href="#">Pricing</a> 
        <img src="splitter.gif" class="splitter" alt="" /> 
        <a href="#">Contacts</a> 
        </div> 
    </div> 
    <div id="header"> 
      <div id="slogan"><strong>Your</strong> Company Slogan</div> 
      <div id="logo"> 
      <a href="#">Website Name</a> 
      <br/><br/> 
      Lorem ipsum dolor sit amet, consectetuer 
      adipiscing elit. Pellentesque lobortis nibh 
      eu mauris. Morbi arcu tortor, auctor et, 
      facilisis nec, egFOOas sit amet, enim.
	  </div> 
    </div> 
    <!--end header --> 





