/* Before entering a new definition make sure it is not already defined below */

h1 a {text-decoration: none; }
h1 a:hover {color: rgb(255, 128, 0); }

    nav {  
        /*position: absolute;  */
        left: 0;  
        width: 100%;  
	background-color: rgb(0, 0, 0);
        background: url("nav-background");  
    }  
nav ul {  
    margin: 0 auto;  
    /*width: 940px; */ 
    list-style: none;  
}

    nav ul li {  
        float: left;  
    }  
      
        nav ul li a {  
            display: block;  
            margin-right: 20px;  
            width: 140px;  
            font-size: 20px;  
            line-height: 54px;  
            text-align: left;  
            text-decoration: none;  
            color: rgb(51, 51, 51);  
        }  
      
            nav ul li a:hover {  
                color: rgb(255, 128, 0);  
            }  
      
            nav ul li.selected a {  
                color: rgb(255, 128, 0);  
            }  
      
            nav ul li.subscribe a {  
                /*margin-left: 22px;  */
                padding-left: 35px;  
                text-align: left;  
                background: url("feed32.png") left center no-repeat;  
            }  